<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-utilities.min.css" rel="stylesheet" />

    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

</head>

<body>

    <div class="accordion accordion-flush" id="ejemploFlush">
      
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-tituloUno">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-caidaUno" aria-expanded="false" aria-controls="flush-caidaUno">
                    Accordion Item #1
                </button>
            </h2>
            <div id="flush-caidaUno" class="accordion-collapse collapse" aria-labelledby="flush-tituloUno"
                data-bs-parent="#ejemploFlush">
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita facilis corporis eligendi delectus
                    aspernatur itaque, odio voluptatem omnis, in voluptates aut adipisci esse excepturi magnam! Debitis
                    natus qui consectetur. Cumque.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-tituloDos">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-caidaDos" aria-expanded="false" aria-controls="flush-caidaDos">
                    Accordion Item #2
                </button>
            </h2>
            <div id="flush-caidaDos" class="accordion-collapse collapse" aria-labelledby="flush-tituloDos"
                data-bs-parent="#ejemploFlush">
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita facilis corporis eligendi delectus
                    aspernatur itaque, odio voluptatem omnis, in voluptates aut adipisci esse excepturi magnam! Debitis
                    natus qui consectetur. Cumque.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-tituloTres">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-caidaTres" aria-expanded="false" aria-controls="flush-caidaTres">
                    Accordion Item #3
                </button>
            </h2>
            <div id="flush-caidaTres" class="accordion-collapse collapse" aria-labelledby="flush-tituloTres"
                data-bs-parent="#ejemploFlush">
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita facilis corporis eligendi delectus
                    aspernatur itaque, odio voluptatem omnis, in voluptates aut adipisci esse excepturi magnam! Debitis
                    natus qui consectetur. Cumque.
                </div>
            </div>
        </div>

    </div>

</body>

</html>