<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-utilities.min.css" rel="stylesheet" />

    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

</head>

<body>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
    



    <div class="alert alert-primary" role="alert">
        Lorem ipsum dolor sit amet consectetur
        <a href="#" class="alert-link">adipisicing elit. </a>  Fugiat nihil eum et cum commodi. Tenetur, quasi. Nemo,
        quis amet tempore corrupti non commodi incidunt dignissimos, nobis assumenda repudiandae quibusdam veritatis?
    </div>

    <div class="alert alert-secondary" role="alert">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nemo dolorum quas modi consectetur earum fuga
        qui nobis voluptatibus velit cupiditate aperiam harum
        <a href="#" class="alert-link">molestias praesentium,</a>  in dolor, debitis dignissimos
        officia?
    </div>

    <div class="alert alert-success" role="alert">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        <a href="#" class="alert-link">periam incidunt debitis</a> A aliquam vitae asperiores
        neque qui expedita ut beatae provident! Dolor, asperiores cum deleniti ea quam possimus quae! Cupiditate, totam?
    </div>

    <div class="alert alert-danger" role="alert">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        <a href="#" class="alert-link">, suscipit earum! </a> Cupiditate explicabo
        placeat asperiores perspiciatis, numquam unde dicta accusamus sit corrupti voluptate et fuga tempore neque nihil
        eligendi vel.
    </div>

    <div class="alert alert-warning" role="alert">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        <a href="#" class="alert-link">Incidunt mollitia vitae</a>  assumenda asperiores
        perspiciatis saepe cupiditate totam ratione. Repellat dolore ex, doloremque magni facere magnam vero
        necessitatibus reiciendis error aspernatur.
    </div>

    <div class="alert alert-info" role="alert">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        <a href="#" class="alert-link">Officia eos labore </a>reiciendis nam, id iusto pariatur
        suscipit voluptatibus reprehenderit excepturi debitis voluptatum eum nesciunt doloribus repellat esse maxime
        placeat vero.
    </div>

    <div class="alert alert-light" role="alert">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestiae modi, aliquid illum voluptas debitis
        ullam officia voluptatem, quo commodi ipsum, porro quos aut ducimus officiis placeat rem sapiente tempore?
    </div>

    <div class="alert alert-dark" role="alert">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, eum culpa possimus voluptas voluptate
        tempore laudantium deserunt sapiente reprehenderit nesciunt vero quo obcaecati totam labore nobis ipsum
        recusandae exercitationem dicta.
    </div>

</body>

</html>